
@media only screen and (min-width: 300px){
.backGround {
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}

.backGround::before {
  content: "";
  background-image: url(./images/weddingSearch.jpg);
  background-size: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}



}